* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Utilities */
    .cursor-pointer {
        cursor: pointer;
    }
/* Utilities */

/* Headings */
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1rem;
    }
    h3 {
        font-size: .7rem;
    }
/* Headings */

/* Navbar */

    /* Search-bar */
        .nav{
            flex-wrap: nowrap;
        }

        .logo-cont {
            padding: 0;
        }

        .logo-lg {
            width: 133px;
        }

        .logo-sm {
            width: 35px;
        }

        .search-bar {
            width: 1100px;
            background-color: #E5E5E5;
            border-radius: 3px;
            padding: .5rem;
            font-size: .8rem;
            flex-wrap: nowrap;
            display: flex;
        }

        .search-bar input, .search-bar button {
            background-color: transparent;
            border: 0;
            margin: 0;
        }

        .search-bar input {
            width: 80%;
        }

        .nav-icon {
            color: #5B5858;
            cursor: pointer;
        }

        .icon-circle {
            background-color: #5B5858;
            color: white;
            padding: 7px 5px;
            border-radius: 50%;
        }

        .bell-icon {
            color: #FF8F03;
        }
    /* Search-bar */
/* Navbar */

/* Main container */
        .main-cont {
            margin-top: 51px;
        }
/* Main container */
    
/* Sidebar */
    .sidebar {
        background-color: #051E34;
        width: 60px;
        height: calc(100vh - 51px);
        padding: 30px 20px;
    }

    .sidebar i {
        margin-bottom: .5rem;
    }
/* Sidebar */

/* Content */
    .content {
        background-color: #F8F9FA;
        width: calc(100vw - 60px);
        height: calc(100vh - 51px);
    }

    /* Content header */
        .content-header {
            background-color: #1B72E8;
        }

        .label {
            background-color: #165BBA;
            padding: .2rem .7rem;
            border-radius: 1rem;
        }

        .label-plus {
            padding: .6rem .4rem;
        }
    /* Content header */

    /* Content-main */
        .content {
            height: calc(100vh - 51px);
        }

        /* Card "Prossime classi" */
            .table-img-cont {
                max-width: 200px;
            }

            .table-img {
                width: 30px;
                height: 30px;
            }
        /* Card "Prossime classi" */
    /* Content-main */
/* Content */

